
@{
    ViewBag.Title = "Waternomics";
}

@model string

<h2>Index</h2>

<form action="~/TrackData/SendFile" method="post" enctype="multipart/form-data">

    <label for="audioFile">AudioFile:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="SendFile" />
</form>

<br/>
<br/>

<p><span style="white-space: pre-line">@Model</span></p>