
@{
    ViewBag.Title = "Waternomics";
}

<h2>Index</h2>

<form action="~/TrackData/SendFile" method="post" enctype="multipart/form-data">

    <label for="audioFile">AudioFile:</label>
    <input type="file" name="audio" id="audio" />

    <input type="submit" value="Upload" />
</form>